<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Create two components: WarningAlert and SuccessAlert</li>
                <li>Output both together under each other in AppComponent</li>
                <li>Output warning/success message</li>
                <li>Style the components</li>
            </ol>
            <p>Use internal/external template and styles!</p>
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div>
